name: GumTuneClient CI

on:
  push:
    branches: [ "main" ] # OR "master"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Get Version from gradle.properties
        run: |
          VER=$(grep "mod_version=" gradle.properties | cut -d'=' -f2)
          echo "PROJECT_VERSION=$VER" >> $GITHUB_ENV

      - name: Build with Gradle
        run: ./gradlew build

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG_NAME="v${{ env.PROJECT_VERSION }}"
          gh release create "$TAG_NAME" build/libs/*.jar --title "$TAG_NAME" --notes "${{ github.event.head_commit.message }}"